* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #fff;
}

/********************************************************************************/
/*INDEX.html*/
/********************************************************************************/

.header {
  background-image: url(images/background.jpg);
  background-position: center;
  min-height: 500px;
  color: #fff;
}

.header-faded {
  background-image: url(/images/backgroundgrade.jpg);
  background-position: center;
  min-height: 500px;
  color: #fff;
}

.navbar {
  display: flex;
  color: #fff;
  text-decoration: none;
  padding: 1.2rem;
  align-items: center;
  justify-content: space-between;
}

.navleft {
  margin-inline: 2.5rem;
}

.navright {
  margin-inline: 2.5rem;
  justify-content: flex-end;
}

.button {
  font-size: 1.5rem;
  background-color: #20282b;
  color: #fff;
  border-radius: 0.6rem;
  padding: 1.1rem;
  padding-inline: 2rem;
  border: none;
  box-shadow: 0.6rem 0.6rem 1.3rem #20282b;
  cursor: pointer;
}

h2 {
  background-color: #20282b;
  color: #fff;
  padding: 2.5rem;
  text-align: center;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  font-size: 2.8rem;
}

.container {
  display: flex;
  justify-content: space-between;
}

.box {
  padding: 9.4rem;
  text-align: center;
}
section {
  padding-inline: 6.25rem;
  padding-top: 3.75rem;
}

h3 {
  background-color: #20282b;
  color: #fff;
  padding: 0.62rem;
  text-align: center;
  font-weight: 600;
  font-style: normal;
  margin-top: 1.88rem;
}

.box1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.88rem;
}

.arrow-left {
  position: relative;
  font-size: 3.75rem;
  align-self: center;
}

.arrow-right {
  position: relative;
  font-size: 3.75rem;
  align-self: center;
}
.frontimg {
  object-fit: cover;
  object-position: top;
}

.frontimg2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  object-fit: cover;
}

/********************************************************************************/
/*ABOUT.html*/
/********************************************************************************/

.box-about {
  display: flex;
  padding-inline: 10%;
}

.about2 {
  background-color: #20282b;
  color: #fff;
  border-radius: 200px 0 100px 0;
  height: 25rem;
}

.img-box-left {
  border-radius: 25px 75px 25px 75px;
  height: 25rem;
  width: 18rem;
}

.img-box-right {
  border-radius: 75px 25px 25px 75px;
  margin-top: -4rem;
  height: 25rem;
  width: 18rem;
}

.button-about {
  font-size: 0.9rem;
  background-color: #20282b;
  color: #fff;
  border-radius: 0.6rem;
  padding: 1.1rem;
  padding-inline: 1rem;
  border: none;
  box-shadow: 0.6rem 0.6rem 1.3rem #20282b;
  cursor: pointer;
  margin-top: 2rem;
}

.box-1 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.img-box-left-1 {
  margin-top: -4rem;
}

.about3 {
  padding-bottom: 4rem;
}

.img-box-p {
  text-align: left;
  padding-inline: 10%;
  padding-top: 5rem;
}

/********************************************************************************/
/*LIST.html*/
/********************************************************************************/

.product-header {
  background-color: #20282b;
  color: #fff;
  padding: 1.5rem;
  text-align: center;
  padding: 5rem;
  margin-top: -16rem;
  margin-bottom: 4rem;
}

.product-header-h4 {
  font-size: 2.5rem;
  padding-inline: 10rem;
}

.product-header-p {
  font-size: 1rem;
}

.button2 {
  background-color: #525e66;
  margin: 3rem;
}

.box-list {
  padding: 1.5rem;
}

.jacket-img-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 4.5rem;
}

.list-img {
  width: 16rem;
  height: 19rem;
  border-radius: 1.5rem;
  margin-bottom: 1rem;
}

.box-list-img {
  text-align: center;
  flex: 0 0 33.3333%;
  padding-top: 3rem;
}

.box-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 5rem;
}

.box-list-price {
  padding-left: 12rem;
  font-weight: 500;
  font-size: larger;
  margin-top: -2.6rem;
}

.box-list-header {
  font-weight: 500;
  font-size: large;
}

/********************************************************************************/
/*CHECKOUT.html*/
/********************************************************************************/

.form-box {
  padding: 3rem;
  display: flex;
  margin-top: -25rem;
  color: #fff;
  font-style: normal;
  padding-bottom: 5rem;
}

.form-box1 {
  padding-inline: 4rem;
  background-color: #20282b;
  width: 150rem;
  height: 50rem;
  border-radius: 25px 0 0 25px;
}

.form-header {
  padding-top: 4rem;
  font-size: 3rem;
  padding-bottom: 3rem;
}

.form-box2 {
  width: 150rem;
  height: 50rem;
  background-image: url(/images/nitish-meena-BaCmEa2hy8g-unsplash-2.jpg);
  background-size: cover;
  background-position: bottom;
  color: #fff;
  border-radius: 0 25px 25px 0;
}

.button-checkout1 {
  font-size: 1.5rem;
  font-weight: 100;
  border: none;
  color: black;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

.container-checkout {
  display: flex;
}

.checkout-header {
  display: block;
}

.form-container {
  display: block;
}

.form-input {
  font-size: 1rem;
  border: none;
  padding-inline: 0.3rem;
  padding-block: 0.3rem;
  border-radius: 5px;
  width: 30rem;
}

.form-box-whole {
  margin-bottom: 1.5rem;
}

.img-text {
  font-weight: 400;
  font-size: xx-large;
  text-align: center;
  padding-top: 45rem;
}

/********************************************************************************/
/*CHECKOUT-SUCCESS.html*/
/********************************************************************************/

.thanks-text {
  font-size: xx-large;
}

.success-container {
  text-align: center;
}

/********************************************************************************/
/*CONTACT.html*/
/********************************************************************************/

.form-label2 {
  padding-bottom: 15rem;
  text-align: left;
}

.form-box3 {
  width: 150rem;
  height: 50rem;
  background-image: url(/images/karsten-winegeart-365jj_oZhy0-unsplash-2.jpg);
  background-size: cover;
  background-position: bottom;
  color: #fff;
  border-radius: 0 25px 25px 0;
}

/********************************************************************************/
/*JACKET.html*/
/********************************************************************************/

.specific-product {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  padding-bottom: 5rem;
  margin-top: -20rem;
}

.img-container {
  display: flex;
}

.product-img1 {
  width: 30rem;
  height: 39.8rem;
}

.small-img-product {
  padding-right: 0.2rem;
  width: 8rem;
}

.jacket-desc {
  padding-left: 2rem;
}

.jacket-name {
  background-color: transparent;
  color: #20282b;
  font-family: "Libre Barcode 39 Text", system-ui;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  text-align: start;
  font-size: 5rem;
}

.jacket-price {
  background-color: transparent;
  color: #20282b;
  padding: 0;
  text-align: start;
  font-size: 3rem;
}

.button-jacket {
  box-shadow: none;
  margin-top: 0.5rem;
}

.button-jacket-white {
  border: 2px solid #20282b;
  background-color: #fff;
  color: #20282b;
}

.jacket-color {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.jacket-color-img {
  margin-right: 0.8rem;
}

.size-info {
  display: flex;
  border-top: 2px solid #20282b;
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.material-info {
  display: flex;
  border-top: 2px solid #20282b;
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.product-details {
  border-top: 2px solid #20282b;
  border-bottom: 2px solid #20282b;
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.product-details-p {
  display: flex;
}

.product-detail-text {
  font-size: 1rem;
  padding-right: 4rem;
}

/********************************************************************************/
/*FOOTER*/
/********************************************************************************/

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #20282b;
  padding: 10rem;
}

.footer-logo {
  height: 10rem;
  width: auto;
  padding-right: 10rem;
}

.footer-items {
  font-size: 0.7rem;
  color: white;
  padding-bottom: 0.8rem;
}

.footer-p {
  padding-bottom: 3.5rem;
  color: white;
}

.footer-subscribe {
  padding-bottom: 1rem;
  color: white;
}

.footer-items-header {
  color: white;
  padding-bottom: 1.5rem;
}

.list-div {
  padding: 3rem;
}

.email-footer {
  border: #525e66 solid 2px;
  background-color: transparent;
  border-radius: 0.3rem;
  font-size: 1rem;
  padding: 0.3rem;
}

.subscribe-btn {
  border: #525e66 2px solid;
  border-radius: 1rem;
  font-size: 1rem;
  background-color: #525e66;
  padding: 0.4rem;
  color: #20282b;
}

.subscribe-btn:hover {
  background-color: #20282b;
  border: #525e66 2px solid;
  color: white;
}

/********************************************************************************/
/*MOBILE*/
/********************************************************************************/
.mobile-header {
  display: none;
}

.mobile-nav {
  display: none;
}

.mobile-link {
  color: black;
  font-size: 0.8rem;
}

.mobile-nav-box {
  z-index: 1000;
  width: 95vw;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.mobile-nav-list {
  display: inline-block;
  padding-inline: 3.5rem;
}

.mobile-menu-icons {
  display: block;
  font-size: 3rem;
}

.mobile-h2 {
  color: black;
  background-color: transparent;
  font-size: 2rem;
  display: block;
}

.mobile-section {
  display: none;
}

.jackets-mobile-main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mobile-jacket-img-div {
  padding-inline: 2rem;
  padding-block: 2rem;
}

.mobile-jacket-img {
  height: 15rem;
  box-shadow: 0 0 25px 2px rgba(0, 0, 0, 0.3);
}

.contact-btn {
  margin-left: 2rem;
  display: none;
}

/********************************************************************************/
/*MEDIA QUERIES*/
/********************************************************************************/

@media (max-width: 1250px) {
  .form-input {
    width: 25rem;
  }

  .specific-product {
    display: flex;
    flex-wrap: wrap;
  }

  .small-img-product {
    display: block;
  }

  .img-container {
    padding-bottom: 2rem;
  }
}

@media (max-width: 1087px) {
  h1 {
    font-size: 2rem;
  }
  .button {
    padding-inline: 3rem;
  }

  .footer {
    padding: 5rem;
  }

  .footer-logo {
    height: 5rem;
    padding-right: 5rem;
  }
}

@media (max-width: 980px) {
  h1 {
    font-size: 1.5rem;
  }
  .navbar {
    padding: 0.8rem;
  }

  .navleft {
    margin-inline: 1rem;
  }

  .navright {
    margin-inline: 1rem;
  }

  .form-box {
    flex-wrap: wrap;
  }

  .form-box1 {
    border-radius: 25px 25px 0 0;
  }

  .form-box2 {
    border-radius: 0 0 25px 25px;
  }

  .form-box3 {
    border-radius: 0 0 25px 25px;
  }
}

@media (max-width: 860px) {
  .box {
    padding: 5rem;
  }

  .button {
    font-size: 1rem;
  }

  .footer {
    padding: 2rem;
  }

  .footer-logo {
    height: 3rem;
  }

  .small-img-product {
    display: none;
  }
}

@media (max-width: 803px) {
  .img-div {
    display: none;
  }

  .jacket-name {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  h2 {
    display: none;
  }

  .main-section {
    display: none;
  }

  .container {
    display: none;
  }

  .mobile-header {
    display: flex;
    position: absolute;
    top: 0;
    padding-inline: 3rem;
    padding-top: 3rem;
  }

  .mobile-section {
    display: block;
  }

  .mobile-logo {
    height: 7rem;
    padding-right: 10rem;
  }

  .mobile-h1 {
    font-size: 1.5rem;
    color: white;
  }

  .frontimg {
    display: none;
  }

  .navbar {
    display: none;
  }

  .mobile-nav {
    display: flex;
    justify-content: center;
  }

  .mobile-nav-box {
    position: fixed;
    bottom: 0;
  }
  .img-box-left,
  .img-box-right {
    display: none;
  }

  .footer {
    padding-bottom: 5rem;
  }

  .contact-btn {
    display: inline;
  }

  .product-header {
    display: none;
  }

  .jacket-name {
    display: block;
  }

  .product-img1 {
    width: 20rem;
    height: auto;
  }

  .specific-product {
    padding-inline: 2rem;
  }
}

@media (max-width: 630px) {
  .list-div {
    padding: 2rem;
  }

  .footer-items-header {
    font-size: 0.8rem;
  }

  .footer-items {
    font-size: 0.5rem;
  }

  .mobile-menu-icons {
    font-size: 2rem;
  }

  .mobile-logo {
    padding-right: 5rem;
  }

  .form-input {
    width: 15rem;
    font-size: 0.8rem;
  }

  .form-box1 {
    padding-inline: 2rem;
  }

  .product-img1 {
    width: 15rem;
  }

  .jacket-color {
    display: none;
  }
}

@media (max-width: 501px) {
  .mobile-nav-list {
    padding-inline: 2rem;
  }

  .mobile-h1 {
    font-size: 1rem;
  }

  .mobile-logo {
    height: 5rem;
  }

  .footer {
    padding-bottom: 8rem;
  }

  .footer-items {
    display: none;
  }
  .footer-items-header {
    display: none;
  }

  .thanks-text {
    font-size: 1.3rem;
  }

  .form-box1 {
    padding-inline: 1rem;
  }
}
